.data {
  position: relative;
  padding-top: 60px;
}

.toggle {
  height: 30px;
}

#toggle {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.profile {
  position: relative;
  width: 50%;
}

.about {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
section {
  height: 100%;
}
.section {
  padding-top: 40px;
}
img {
  width: 265px;
  height: 400px;
  position: absolute;
  margin-left: 20%;
}

ul {
  list-style: none;
}
.connect {
  display: flex;
  flex-direction: row;
}
.connect>li {
  margin-left: 10px;
}
a:before, a:hover, a:after {
  color: black;
}
