<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>Card Isle</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="project_name">
          <a href="index.html">Weather</a>
        </div>
        <div class="right">
          <a href="about.html">About Me</a>
        </div>
      </nav>
    </header>

    <div class="container" ng-controller="WeatherController as weather">
      <div id="toggle" class="toggle">
        <button type="button" ng-click="toggle()">Toggle</button>
      </div>

      <div class="Cities">
        <table>
          <tbody>
            <tr ng-repeat="city in cities" my-directive="city">
              <!-- <td>{{ 1 }}</td> -->
              <!-- <td>{{ temp[0].main.temp }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="results">
        <table>
          <th>
            <tr>
              <td id="city">
                City
              </td>
            </tr>
          </th>
          <tbody>
            <tr>
              <td id="dates">
                Dates
              </td>
              <td id="forecast">
                Forecasts
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/weatherApp.js"></script>
  </body>
</html>
