<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>Card Isle</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Angular Weather App</a>
          </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <li><a href="about.html">About Me</a></li>
          </ul>

        </div>
      </div>
      </nav>

    <div class="container" ng-controller="WeatherController as weather">
      <div id="toggle" class="toggle col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" type="button" ng-click="toggle()">Toggle and Show Weather</button>
      </div>

      <div class="data">
        <!-- left -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="Cities">
            <table class="table table-hover">
              <tbody>
                <tr ng-repeat="city in cities" my-directive="city" ng-click="select(city.city)">
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- right -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="results">
            <table id="select" class="table">
              <thead>
                <tr>
                  <td id="city">
                    {{ forecast.city.name }}
                  </td>
                </tr>
              </thead>
              <thead>
                <tr>
                  <td id="dates">
                    Date
                  </td>
                  <td id="forecast">
                    Forecast
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="day in forecast" selection="day">

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- end -->

      </div>

    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/weatherApp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
